@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-app-bg text-text-primary font-sans antialiased;
  }
}

/* Custom Scrollbar for Dark Mode */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-app-bg;
}

::-webkit-scrollbar-thumb {
  @apply bg-card-bg rounded-full border border-app-bg;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}
